body
{
	/*background-color: #202b32 ;*/
	background-image: url("images/itachi-3.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100% ;
	background-attachment: fixed;
	width: 100% ;
	height: 100% ;
}
* {
  box-sizing: border-box;
}
#title
{
	color: #e2d546 ;
	font-size: 5vw;
}
.intro
{
	padding: 10px ;
	font-size: 150%;
	margin-left: 0% ;
	margin-right: 0% ;
	text-align: center;
}
.Container p,pre,h1
{
	color: white ;
	border: 2px solid #e2d546 ;
	background-color: #628ed0 ;
	width: 100% ;
	padding-top: 5px ;
	padding-bottom: 5px ;
	font-size: 2vw;
	font-family: arial, sans-serif;
}
.Container
{
	border: 2px solid #e2d546 ;
	background-color: rgba(98, 142, 208, 0.8) ;
	padding: 10px ;
	margin-left: 2% ;
	margin-right: 2% ;
	text-align: center;
/*	display: none;*/
	background-position: center;
}

.itachi1-class
{
	width: 100%;
	height: 100%;
	border: 2px solid #e2d546 ;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: center;
	color: #39c042 ;
}


.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th,td {
  border: 1px solid #e2d546;
  text-align: center;
  padding: 8px;
  color: #0c1727;
}

.table-1 
{
	background-color: #80b3ff ;
	border-spacing: 5px ;
	width: 100% ;
	margin-top: 5px ;
}

.table tr:nth-child(even) {
  background-color: #628ed0;
}

.table tr:nth-child(odd) {
  background-color: #234476 ;
}

.table-1 td
{
	cursor: pointer;
}
.table-1 td:hover
{
	background-color: #39c042;
	border-color:#e2d546 ;
}

.table-1 th
{
	cursor: pointer;
}
.table-1 th:hover
{
	background-color: #39c042;
	border-color:#e2d546 ;
}

.Liste-1
{
	margin-top: 15px ;
	background-color: #628ed0 ;
	text-align: center;
	width: 100% ;
	height: auto;
	position: relative;
}
.todo-liste
{
	position: relative;
	padding: 0 5px ;
	list-style-type: none;
	padding-top: 5px ;
	width: 100% ;
	margin: 0;
	height: 300px;
	overflow-y: auto;
}

.webpage img:hover
{
	border:3px solid #d96208;
}
.webpage
{
	width: 50% ;
	padding: 0 ;
	float: right;
}

.form-pics img:visited
{
	border:3px solid red;
}

.list-set{
	width: 50%;
	float: left;
}

.image
{
	height: 155px ;
	width: 285px ;
	margin: 5px ;
	border: 3px solid #e2d546 ;
	cursor: pointer;
	border-radius: 25px ;
}

.frame
{
	width: 100% ;
}

.todo-liste li
{
	border: 1px solid #e2d546 ;
	margin-top: 5px ;
	cursor: pointer;
	text-align: left;
	width: 70% ;
	font-family: arial, sans-serif;
	padding: 8px ;
	background-color: #89aadc ;
}

.todo-liste li:hover
{
	margin-top: 5px ;
	margin-left: 5px ;
	cursor: pointer;
	background-color: #628ed0;
	border-color:#e2d546 ;
}

.todo-liste div
{
	border: 1px solid #e2d546 ;
	margin-top: 5px ;
	cursor: pointer;
	margin-left: 1px;
	margin-right: 1px;
	text-align: center;
	width: 8% ;
	float: right;
	font-family: arial, sans-serif;
	/*font-size: 1vw;*/
	padding: 8px ;
	background-color: #89aadc ;
}


.todo-liste div:hover
{
	cursor: pointer;
	background-color: #628ed0;
}



.button1
{
	background-color: #39c042;
  	color: white;
 	padding: 10px 25px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
 	border: none; 
 	font-size: 25px;
 	margin: 10px;
 	border-radius: 25px ;
}
.button1:hover
{
	background-color: #e0891f;
  	color: white;
 	padding: 8px 23px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
 	cursor: pointer;
 	border: 2px solid #e2d546 ;
}
.button1:visited
{
	background-color: #60759f;
  	color: white;
 	padding: 10px 25px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
 	border: none; 
 	font-size: 25px;
}
.button1:active
{
	background-color: #39c042;
  	color: white;
 	padding: 10px 25px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
 	border: none; 
 	font-size: 25px;
}

.form-holder
{
	width: 100%;
	display: inline-block;
	color: #12223b ;
}

.form-1 h3,h2
{
	text-align: center;
	font-size: 2vw ;
	margin: 0 ;
}

.form-1 label{
	font-size: 2vw ;
	margin: 0 ;
}


.form-1
{
	margin-left: 5% ;
	margin-right: 5% ;
	padding:0;
	float: left;
	padding-top: 0px;
	text-align: left;
	border: 2px solid #e2d546 ;
	width: 40%;
	/*background-color: #628ed0;*/
}

.form-pics div{
	float: left;
	padding: 0 ;
	margin: 0 ;
	width: 25%;
}

.form-pics{
	width: 100% ;
}

.user-info{
	padding:1%;
	margin-bottom: 5px ;
	text-align: center;
	/*border: 2px solid #e2d546 ;*/
	width: 100%;
	/*background-color: #628ed0;*/
}
.user-info input{
	background-color: rgba(137, 170, 220,0.7);
  	color: white;
  	width: 30% ;
 	padding: 2px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
 	border: 2px solid #e2d546 ;
 	font-size: 25px;
 	margin: 4px;
 	border-radius: 25px ;
}

.button-style-1
{
	background-color: rgba(137, 170, 220,0.7);
  	color: white;
  	width: 15% ;
 	padding: 5px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
 	border: 2px solid #e2d546 ;
 	font-size: 1vw;
 	margin: 4px;
 	border-radius: 25px ;
}
.button-style-1:hover
{
	background-color: #e0891f;
 	cursor: pointer;
 	border: 2px solid #e2d546 ;
}

.new-item-class input{
	background-color: rgba(137, 170, 220,0.7);
  	color: white;
  	width: 30% ;
 	padding: 5px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
 	border: 2px solid #e2d546 ;
 	font-size: 1vw;
 	margin: 4px;
 	border-radius: 25px ;
}
.new-item-class{
	width: 100%;
	padding: 0%;
	/*margin-left: 40%;*/
	/*background-color: tomato;*/
}

.new-item-class input:hover{
	border-color: tomato ;
}
.user-info input:hover{
	border-color: tomato ;
}

input[type=checkbox]{
	border-radius: 25px ;
}
.check{
	visibility: hidden;
	height: 20px ;
	width: 20px ;
}
@media (max-width: 1310px)
{
	.list-set
	{
		width: 100% ;
		height: 100% ;
	}

	.todo-liste{
		width: 60%;
		float: left;
	}

	.new-item-class{
		width: 40% ;
		float: right;
		margin-top: 12%;
	}

	.new-item-class input{
		font-size: 12px;
	}
	.button-style-1{
		font-size: 12px;
	}
	.new-item-class label{
		display: none;
	}
	.webpage 
	{
		width: 100% ;
	}
	.webpage img
	{
		width: 23% ;
	}
	.form-pics{
		width: 100% ;
	}
	.form-pics div
	{
		width: 46%;
		margin-left: 4%;
	}
	.form-pics img
	{
		width: 80%;
	}
	.user-info{
		height: 100% ;
	}
	.user-info input{
		width: 30%;
		/*float: left;*/
		margin: 1% ;
	}
}
@media (max-width: 745px)
{
	.webpage img
	{
		width: 45% ;
	}

	.list-set
	{
		width: 100% ;
		height: 100% ;
	}

	.todo-liste{
		width: 100%;
		float: none;
	}

	.new-item-class{
		width: 100% ;
		float: none;
		margin-top: 0;
	}


	.form-1{
		float: none;
		width: 90%;
		margin-left:5%;
		margin-right:5%;
		margin-top: 5px;
	}
	.user-info label{
	visibility: hidden;
	}
	.user-info input{
		width: 60% ;
		margin-right: 10%;
		/*margin-left: 10%;*/
		font-size: 2vw;
		padding: 1% ;
	}
}
@media (max-width: 500px)
{
	.webpage img
	{
		width: 90% ;
	}
	.form-pics div
	{
		width: 100%;
	}
	.user-info input{
		width: 40% ;
		margin-right: 25%;
		/*margin-left: 10%;*/
		font-size: 3vw;
		padding: 1% ;
	}
}
.ol-list{
	display: none;
}

/*popup-Container*/
/*.Container{
	display:none;
}*/
.popup-Container{
	width: 100% ;
	height: 100% ;
	right: 0 ;
	left: 0 ;
	background-color: rgba(79, 126, 201,0.7);
	position: fixed;
	top: 0;
	display: none;

}
.popup-modal {
	width: 500px;
	height: 300px ;
	max-width: 80%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(8, 11, 22,0.8);
}
.popup-input{
	width: 40%;
	padding: 5px;
 	margin: 4px;
 	border-radius: 25px ;
 	font-size: 1vw;
	background-color: rgba(137, 170, 220,0.7);
  	color: white;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
 	border: 2px solid #e2d546 ;
 	position: fixed;
 	top: 45%;
	left: 50%;

	transform: translate(-50%,-50%);
}
.popup-input::placeholder{
  	color: rgba(215, 165, 66,1) ;
}
.popup-button{
	position: fixed;
 	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.popup-modal h2{
	color: #f6b83c ;
	margin-top: 10%;
	margin-right: 5%;
	margin-left: 5%;
}
.popup-modal p{
	color: #f6b83c ;
	margin-top: 0 ;
	margin-right: 5px ;
	cursor: pointer;
	/*padding-right: 5px ;*/
	float: right;
	font-size: 2.5vw;
	font-family: bold , arial;
}